**/node_modules/
.DS_Store
**/contact.tex
**/letter_*.pdf

# LaTeX build artifacts
moderncv/*.aux
moderncv/*.log
moderncv/*.out
moderncv/*.pdf
moderncv/*.tex~
moderncv/#*.tex#
moderncv/_region_.tex
rover-resume/*.aux
rover-resume/*.log
rover-resume/*.out
rover-resume/*~
